@import "../../../node_modules/@nice-digital/design-system/src/stylesheets/nice-design-system";
@import "../../styles/accessibility.scss";

.Drawer {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  @extend %left-drop-shadow;

  // default closed state
  transform: translateX(100%);
  @extend %transition-default;
  width: calc(100% - 75px);

  &__controls {
    width: 75px;
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateX(-75px);
  }

  &__control {
    font-size: 0;
    border-radius: rem(10px) 0 0 rem(10px);
    line-height: 1.3;
    padding: $spacing-small 0.3rem;
    text-align: left;
    border: none;
    width: 100%;
    margin-bottom: rem($spacing-x-small);
    &:focus {
      @extend .btn--cta:focus;
      background-color: $colour-btn-cta-hover;
    }
    &:hover {
      cursor: pointer;
    }
    &--comments,
    &--questions {
      color: $colour-nice-white;
      box-shadow: inset -10px 0 10px rgba(0, 0, 0, 0.3);
    }
    &--comments.active,
    &--questions.active {
      background: $colour-btn-cta;
    }
    &-text {
      font-size: 0.9rem;
    }
    @extend .font-weight-bold;
  }

  &__main {
    height: 100vh;
    padding-left: rem($spacing-small);
    padding-right: rem($spacing-small);
    overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    background-color: $colour-nice-white;
    @include visibleToggleOut(
      0.4s
    ); // slightly longer than the duration of the transition
    &--open {
      @include visibleToggleIn(0.4s);
    }
  }
  &--open {
    transform: translateX(0);
  }
}

@media (min-width: 34.375em) {
  .Drawer {
    width: 430px;

    &__controls {
      width: 120px;
      transform: translateX(-120px) !important;
    }

    &__control {
      padding: rem($spacing-medium);
      font-size: 1rem;

      &-text {
        font-size: 0;
      }
    }
  }
}

@media (min-height: 12.5em) {
  .Drawer {
    &__controls {
      top: 40%;
    }
  }
}

.drawer-screenreader-button {
  @extend .screenreader-button;
  position: relative;
  &:focus,
  &:active {
    position: relative;
  }
}
