@import "../../../node_modules/@nice-digital/design-system/src/stylesheets/nice-design-system";

.Drawer {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  @extend %left-drop-shadow;

  // default closed state
  transform: translateX(100%);
  @extend %transition-default;
  width: 430px;

  &__controls {
    width: 120px;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateX(-120px);
    .Drawer--mobile & {
      width: 40px;
      transform: translateX(-40px) !important;
    }
  }

  &__control {
    border-radius: rem(10px) 0 0 rem(10px);
    line-height: 1.3;
    padding: rem($spacing-medium);
    text-align: left;
    border: none;
    width: 100%;
    margin-bottom: rem($spacing-x-small);
    &:hover {
      cursor: pointer;
    }
    &--comments,&--questions {
      color: $colour-nice-white;
      box-shadow: inset -10px 0 10px rgba(0, 0, 0, 0.3);
    }    
    &--comments.active,&--questions.active{
      background: $colour-btn-cta;
    }
    @extend .font-weight-bold;
  }

  &__main {
    height: 100vh;
    padding-left: rem($spacing-small);
    padding-right: rem($spacing-small);
    overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    background-color: $colour-nice-white;
    @include visibleToggleOut(0.1s);
    &--open {
      @include visibleToggleIn(0.1s);
    }
  }
  &--open {
    transform: translateX(0);
  }
  &--mobile {
    width: calc(100% - 40px);
  }
}

