.CommentPanel {
  background: #eee;
  padding: rem($spacing-medium);
  &.inactive {
    transform: translateX(240px) !important;
    transition: all 0.3s ease-in-out;
    opacity: 0.1;
  }
  &.active {
    transform: translateX(0) !important;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
}
