@use "@nice-digital/nds-core/scss/colours";
@use "../../styles/variables" as *;

// Any styling that's in here should probably be promoted to the design system

// Darkened var to meet AA contrast requirement - $color-agile-phase: #007AB8;

.buttonAsLink {
  @extend %unstyled-button;
  text-decoration: underline;
  color: colours.$link;
  cursor: pointer;
  &:hover {
    color: colours.$link-hover;
  }
}

.stacked-nav a {
  word-wrap: break-word;
}

.errorBox {
  background: colours.$error-background;
  color: colours.$error;
  border: 0.125rem solid colours.$error;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

// ------------------------------------------------ //
