// todo: Styling to promote to the design system

[data-g] {
  position: static;
}

.grid {
  letter-spacing: 0;
  position: relative;
}

%unstyled-button {
  position: absolute;
  border: none;
  background: none;
}

// ------------------------------------------------ //
