// Any styling that's in here should probably be promoted to the design system

%unstyled-button {
  border: none;
  background: transparent;
  font-size: inherit;
  padding: 0;
}

// Darkened var to meet AA contrast requirement
$color-agile-phase: #007AB8;

.buttonAsLink {
  @extend %unstyled-button;
  text-decoration: underline;
  color: $colour-link;
  cursor: pointer;
  &:hover {
    color: $colour-link-hover;
  }
}

.stacked-nav a {
  word-wrap: break-word;
}

.errorBox {
  background: $colour-error-background;
  color: $colour-error;
  border: 0.125rem solid $colour-error;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

section.Drawer { 
  z-index: 999999;
}

// ------------------------------------------------ //
