
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RazorTest</title>
    <base href="/" />
</head>
<body>
    <div id="root" asp-prerender-module="./ClientApp/src/index.js"></div>

    @*<div id="root"></div>
      <script type="text/javascript" src="/static/js/bundle.js"></script>*@

</body>
</html>
