@use "@nice-digital/nds-core/scss/typography";
@use "@nice-digital/nds-core/scss/colours";
@use "../../styles/variables" as *;

.ConversionError {
  z-index: 1;
  position: absolute;
  right: 0;
  @include typography.font-size(0);
  &__Button {
    z-index: 2;
    font-weight: bold;
    border: rem(3px) solid;
    border-radius: 50%;
    width: rem(50px);
    height: rem(50px);
    text-align: center;
    float: right;
    &:hover {
      cursor: pointer;
    }
    &--E { // Error
      color: $ec-error;
      background-color: $ec-bg-error;
    }
    &--W { // Warning
      color: $ec-caution;
      background-color: $ec-bg-caution;
    }
    &--I { // Information
      color: $ec-info;
      background-color: $ec-bg-info;
    }
  }
  &__details {
    border-top: rem(3px) solid;
    display: none;
    &:hover {
      cursor: pointer;
    }
    &.active {
      display: block;
    }
    @extend %all-drop-shadow;
    padding: 1rem;
    margin: rem(25px) rem(25px) 0 0;
    font-weight: normal;
    &--E { // Error
      color: $ec-error;
      background-color: $ec-bg-error;
    }
    &--W { // Warning
      color: $ec-caution;
      background-color: $ec-bg-caution;
    }
    &--I { // Information
      color: $ec-info;
      background-color: $ec-bg-info;
    }
  }
}
