@model Comments.ViewModels.Error
@{var error = Model.ErrorException;}

@{
	Layout = "~/Views/_Layout.cshtml";
}

<main role="main">
	<div class="container">
		<div class="grid">
			<div data-g="12">
				<h1 class="page-header__heading mt--c">We can't find this page</h1>
				<p class="page-header__lead">It's probably been moved, updated or deleted.</p>
				<p><a href="~/guidance/inconsultation">Back to consultations</a></p>
			</div>
		</div>
	</div>
</main>

