AppSettings__Environment__AccountsEnvironment=beta
AppSettings__Environment__Name=test
AppSettings__Environment__SsrPort=5000
AppSettings__Environment__SsrHost=http://nodeapp
AppSettings__Environment__CorsOrigin=https://niceorg

ConnectionStrings__DefaultConnection=Server=

ConsultationList__DownloadRoles__AdminRoles__0="Administrator"
ConsultationList__DownloadRoles__AdminRoles__1="CommentAdminTeam"
ConsultationList__DownloadRoles__TeamRoles__0="CHTETeam"
ConsultationList__DownloadRoles__TeamRoles__1="CfGTeam"
ConsultationList__DownloadRoles__TeamRoles__2="HSCTeam"
ConsultationList__DownloadRoles__TeamRoles__3="INDTeam"

Encryption__IV=
Encryption__Key=

Feeds__CacheDurationSeconds=60
Feeds__IndevApiKey=
Feeds__IndevBasePath=https://alpha-indev.nice.org.uk
Feeds__IndevDraftPreviewChapterFeedPath="preview/{0}/consultation/{1}/document/{2}/chapter-slug/{3}"
Feeds__IndevDraftPreviewDetailFeedPath="preview/{0}/consultation/{1}/document/{2}"
Feeds__IndevIDAMConfig__APIIdentifier=https://alpha-indev.nice.org.uk
Feeds__IndevIDAMConfig__ClientId=
Feeds__IndevIDAMConfig__ClientSecret=
Feeds__IndevIDAMConfig__Domain="alpha-identity.nice.org.uk"
Feeds__IndevListFeedPath="consultation-comments-list"
Feeds__IndevPublishedChapterFeedPath="consultation-comments/{0}/document/{1}/chapter-slug/{2}"
Feeds__IndevPublishedDetailFeedPath="consultation-comments/{0}"
Feeds__IndevPublishedPreviewDetailFeedPath="consultation-comments/{0}?ConsultationDocumentId={1}"

Gilliam__GetClaimsUrl=
Gilliam__GilliamBasePath="https://test-accounts.nice.org.uk"
Gilliam__GilliamClientCertificateBase64=

GlobalNav__CookieBannerScript="//alpha-cdn.nice.org.uk/cookie-banner/cookie-banner.min.js"
GlobalNav__Script="//alpha-cdn.nice.org.uk/global-nav/global-nav.min.js"
GlobalNav__ScriptIE8="//alpha-cdn.nice.org.uk/global-nav/global-nav.ie8.min.js"

IndevDraftPreviewDetailFeedPath="preview/{0}/consultation/{1}/document/{2}"

Logging__SerilogMinLevel="Debug"

Status__APIKey=

WebAppConfiguration__ApiIdentifier="https://test-identityapi.nice.org.uk/api"
WebAppConfiguration__AuthorisationServiceUri="https://test-identityapi.nice.org.uk"
WebAppConfiguration__RedirectUri="https://test.nice.org.uk/consultations/signin-auth0"
WebAppConfiguration__PostLogoutRedirectUri="https://test.nice.org.uk"
WebAppConfiguration__ClientId=
WebAppConfiguration__ClientSecret=
WebAppConfiguration__Domain="test-identity.nice.org.uk"
WebAppConfiguration__GoogleTrackingId=
WebAppConfiguration__RedisServiceConfiguration__ConnectionString=
WebAppConfiguration__RedisServiceConfiguration__Enabled=true