.screenreader-button {
  position: absolute;
  left: -9999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
  &:focus, &:active {
    position: absolute;
    width: auto;
    left: auto;
    height: auto;
    overflow: auto;
    z-index: 1;
  }
}

// this is just a helper while we're 'focussing' on accessibility... LOLZ
*:focus {
  //background: #eee !important;
}

@mixin visibleToggleOut($duration) {
  animation: $duration visibleToggleOut;
  animation-fill-mode: forwards;
  @keyframes visibleToggleOut {
    1% {
      visibility: visible;
    }
    99% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
}

@mixin visibleToggleIn($duration) {
  animation: $duration visibleToggleIn;
  animation-fill-mode: forwards;
  @keyframes visibleToggleIn {
    0% {
      visibility: hidden;
    }
    1% {
      visibility: visible;
    }
    100% {
      visibility: visible;
    }
  }
}
