@use "@nice-digital/nds-core/scss/colours";
@use "@nice-digital/nds-core/scss/spacing";
@use "@nice-digital/nds-core/scss/utils";
@use "variables" as *;

.screenreader-button {
  position: absolute;
  left: -9999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: utils.rem(spacing.$small) utils.rem(spacing.$medium);
  background-color: $ec-light-grey;
  border: none;
  &:focus, &:active {
    position: absolute;
    width: auto;
    left: auto;
    height: auto;
    overflow: auto;
    z-index: 1;
    outline: 0.1875rem solid colours.$focus;
  }
}

// this is just a helper while we're 'focussing' on accessibility... LOLZ
*:focus {
  //background: #eee !important;
}

.no-outline {
  outline: none;
}

@mixin visibleToggleOut($duration) {
  animation: $duration visibleToggleOut;
  animation-fill-mode: forwards;
  @keyframes visibleToggleOut {
    1% {
      visibility: visible;
    }
    99% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
}

@mixin visibleToggleIn($duration) {
  animation: $duration visibleToggleIn;
  animation-fill-mode: forwards;
  @keyframes visibleToggleIn {
    0% {
      visibility: hidden;
    }
    1% {
      visibility: visible;
    }
    100% {
      visibility: visible;
    }
  }
}
