////
/// @group components
////

// sass-lint:disable class-name-format

$radio-base-size: 32px;
$colour-border-focus: $colour-nice-blue-3;

.form {
  &__fieldset {
    border: rem($spacing-xx-small) solid $colour-border;
    margin-bottom: rem($spacing-medium);
    padding: rem($spacing-small);
  }

  &__legend {
    @include font-size(h3);
    font-weight: bold;
    margin-bottom: rem($spacing-small);
  }

  &__group {
    margin-bottom: rem($spacing-medium);

    &--error {
      .form__input,
      .form__radio,
      .form__checkbox {
        background-color: $colour-error-background;
        border-color: $colour-nice-white;
        outline: $colour-error rem($spacing-x-small) solid;
      }

      .form__label {
        color: $colour-error;
        font-weight: bold;
      }

      .form__hint {
        color: $colour-error;
      }
    }

    &--radio {
      @include clearfix;
      clear: left;
      display: block;
      padding-left: $radio-base-size * 1.4;
      position: relative;
    }

    &--inline {
      display: inline-block;
      margin-right: rem($spacing-medium);

      input {
        margin-right: rem($spacing-x-small);
      }
    }

    &--stacked {
      margin-bottom: rem($spacing-small);
    }
  }

  &__input {
    border: rem($spacing-xx-small) solid $colour-border;
    padding: rem($spacing-small);
    width: 100%;

    &:focus {
      outline: $colour-border-focus rem($spacing-x-small) solid;
    }

    //@include mq($from: sm) {
    //  width: rem($nice-breakpoint-xs);
    //}

    &--file,
    &--range {
      border: 0;
      padding: 0;
    }

    &--textarea {
      height: 8em; // default textarea 8 characters tall
    }
  }

  &__radio {
    cursor: pointer;
    height: $radio-base-size;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: $radio-base-size;

    &:checked + label:after { // sass-lint:disable-line force-pseudo-nesting pseudo-element
      opacity: 1;
      color: white;
    }

    &:focus {
      & + label:before { // sass-lint:disable-line force-pseudo-nesting pseudo-element
        box-shadow: 0 0 0 ($radio-base-size / 16) $colour-border-focus;
      }

    }
  }

  &__label {
    @include font-size(p);
    display: block;
    margin-bottom: rem($spacing-x-small);

    &--radio {
      cursor: pointer;
      padding: ($radio-base-size / 8) 0;

      // radio - outside circle
      &::before {
        border: ($radio-base-size / 16) solid $colour-nice-black;
        border-radius: 50%;
        content: '';
        height: $radio-base-size;
        left: 0;
        position: absolute;
        top: 0;
        width: $radio-base-size;
      }

      // radio - center dot
      &::after {
        background: $colour-nice-black;
        border-radius: 50%;
        content: '';
        height: ($radio-base-size / 2);
        left: ($radio-base-size / 4);
        opacity: 0;
        position: absolute;
        top: ($radio-base-size / 4);
        width: ($radio-base-size / 2);
      }

      &--inverted {
        &::before {
          border: ($radio-base-size / 16) solid $colour-nice-white;
        }
        &::after {
          background: $colour-nice-white;
        }
      }
    }
  }

  &__hint {
    color: $colour-nice-dark-grey;
    margin-top: rem($spacing-x-small);
    &--inverse {
      color: $colour-nice-white;
    }
  }

}
