#global-nav-header{ 
	position: relative;
	z-index: 1;
}

.phase-banner-container{
	position: relative;
	z-index: 0;
}

/* override to push card meta data below expanded mega nav */
#root .card__metadata {
	z-index:0 !important;
}