@use "@nice-digital/nds-core/scss/spacing";

.markdown {
  ul {
    margin: rem(spacing.$small) 0 rem(spacing.$small) rem(spacing.$small);
    list-style-position: inside;
    li {
      list-style-type: disc;
    }
  }
}
