@use "@nice-digital/nds-core/scss/spacing";
@use "@nice-digital/nds-core/scss/utils";

.markdown {
  ul {
    margin: utils.rem(spacing.$small) 0 utils.rem(spacing.$small) utils.rem(spacing.$small);
    list-style-position: inside;
    li {
      list-style-type: disc;
    }
  }
}
