.text-muted {
  color: #666666;
}

.tag--open {
  background: #00823b !important;
}

.flex {
  display: flex;

  &--align-center {
    align-items: center;
  }
}

.bold {
  font-weight: bold;
}

.limitWidth{
  max-width: 17rem;
}