@use "@nice-digital/nds-core/scss/colours";
@use "variables" as *;

.text-muted {
  color: #666666;
}

.tag--open {
  background: $ec-green !important;
}

.flex {
  display: flex;

  &--align-center {
    align-items: center;
  }
}

.bold {
  font-weight: bold;
}

.limitWidth{
  max-width: 17rem;
}
