// Project Variables
// Depending on their specificity to this project they may be moved into the design system

%left-drop-shadow {
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

%all-drop-shadow {
  box-shadow: 0 0 rem(10px) rgba(0, 0, 0, 0.1);
}

%transition-default {
  transition: all 0.3s ease-in-out;
  transition-property: transform;
}

$colour-agile-phase: #007AB8;

$colour-caution-our-version: #FFBF47;


