.SubmitResponseFeedback {
  padding: 0 rem($spacing-medium);
  border: 3px solid $colour-error;
  background-color: $colour-error-background;
  &__title {
    color: $colour-error;
    font-weight: bold;
  }
}
