.pagination {
  margin: 0;

  &__pager, &__truncate {
    list-style: none;
    display: none;
  }

  &__pager {

    &.next, &.previous {
      display: inline-block;
    }

    a {
      @extend .btn;

      background: none;
      border: 1px solid transparent;
      background: none;
      color: $colour-link;
      margin: 0;
      text-transform: capitalize;

      &[data-pager="previous"]:before {
        content: "< ";
      }

      &[data-pager="next"]:after {
        content: " >";
      }

      &:hover {
        border: 1px solid #eee;
        background: none;
        color: $colour-link;
      }
      &:focus {
        background: none;
        color: $colour-link;
        z-index: 3000;
        top: 0;
      }
    }

    &.active {
      a {
        background: #eee;
        color: #000;
      }
    }
  }

  &__truncate {
    span {
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 0.5em 0.25em;
      vertical-align: top;
      display: inline-block;
    }
  }

  &__counter {
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.5rem;
      padding: 0.5em 1em;
      vertical-align: top;
      display: inline-block;
  }
}

@media (min-width: 56.25em) {
  .pagination {
    &__pager, &__truncate {
      display: inline-block;
    }

    &__counter {
      display: none;
    }
  }
}
