// TODO: consider feeding these changes back to the design system

[data-g] {
  position: static;
}

.grid {
  letter-spacing: 0;
  position: relative;
}

// ------------------------------------------------ //
