@import "../../../node_modules/@nice-digital/design-system/src/stylesheets/nice-design-system";

.Drawer {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  @extend %left-drop-shadow;
  &__controls {
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-40px);
  }
  &__toggleOpen,
  &__toggleWidth {
    @extend %ui-button;
  }
  &__main {
    height: 100vh;
    overflow-y: scroll;
    background-color: $colour-nice-white;
  }
  &__mainControls {
    float: right;
  }
  &--open {
    transform: translateX(0);
  }
  &--closed {
    transform: translateX(100%);
  }
  &--narrow {
    @extend %transition-default;
    width: 300px;
  }
  &--wide {
    @extend %transition-default;
    width: 60vw;
  }
  &--mobile {
    @extend %transition-default;
    width: calc(100% - 40px);
  }
}
