.document-comment-container {
  &__commentButton {
    margin-left: rem(-40px);
    position: absolute;
    @extend %unstyled-button;
    &:hover {
      cursor: pointer;
    }
  }
  padding-left: rem($spacing-large);
  &.loading {
    opacity: 0.3;
    transition: opacity 0.1s;
  }
  h1,
  h2,
  h3,
  h4,
  h5 h6 {
    margin-top: 0;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .itemizedlist.indented,
  .numbered-paragraph {
    margin-left: rem($spacing-xx-large);
  }
  .itemizedlist.indented .paragraph-number,
  .numbered-paragraph .paragraph-number {
    float: left;
    margin-left: rem(-$spacing-xx-large);
  }
  table {
    td {
      padding: rem($spacing-small);
    }
    margin-bottom: rem($spacing-medium);
  }
}

.onboarding {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.5);
  &__closeButton {
    @extend %unstyled-button;
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
    font-size: 24px;
    padding: 0.75rem 1rem;
    line-height: 24px;
    &:hover {
      cursor: pointer;
    }
  }
  &__modal {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    padding: rem(20px);
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    background: white;
    img {
      max-width: 80%;
      display: block;
      margin: 0 auto;
    }
  }
}
