.document-comment-container {
  &__commentButton {
    margin-left: rem(-40px);
    position: absolute;
    @extend %unstyled-button;
    &:hover {
      cursor: pointer;
    }
  }
  padding-left: rem($spacing-large);
  &.loading {
    opacity: 0.3;
    transition: opacity 0.1s;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .itemizedlist.indented,
  .numbered-paragraph {
    margin-left: rem($spacing-xx-large);
  }
  .itemizedlist.indented .paragraph-number,
  .numbered-paragraph .paragraph-number {
    float: left;
    margin-left: rem(-$spacing-xx-large);
  }
  table {
    td {
      padding: rem($spacing-small);
    }
    margin-bottom: rem($spacing-medium);
  }
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.sticky {
  position: sticky;
  top: 20px;
  z-index: 10;
  background-color: $colour-body;
}