@use "@nice-digital/nds-core/scss/spacing";
@use "@nice-digital/nds-core/scss/utils";
@use "../../styles/variables" as *;

.document-comment-container {
  &:focus {
    outline: none;
  }
  &__commentButton {
    margin-left: utils.rem(-40px);
    position: absolute;
    @extend %unstyled-button;
    &:hover {
      cursor: pointer;
    }
    outline: -webkit-focus-ring-color red 5px
  }
  padding-left: utils.rem(spacing.$large);
  &.loading {
    opacity: 0.3;
    transition: opacity 0.1s;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  div.itemizedlist.indented,
  p.numbered-paragraph {
    margin-left: utils.rem(spacing.$xx-large);
  }
  div.itemizedlist.indented .paragraph-number,
  p.numbered-paragraph .paragraph-number {
    float: left;
    margin-left: utils.rem(-(spacing.$xx-large));
  }
  article.numbered-paragraph {
    display: flex;

    & > {
      h1, h2, h3, h4, h5, h6 {
        font-size: inherit;
        font-weight: normal;
        flex: 0 0 (utils.rem(spacing.$xx-large) - 10px);
        font-family: inherit;
        line-height: 1.6;
        padding-right: 10px;
      }
    }

    p:first-child {
        margin-top: 0;
    }
  }
  table {
    td {
      padding: utils.rem(spacing.$small);
    }
    margin-bottom: utils.rem(spacing.$medium);
  }
}

.caution {
  background-color: $colour-caution-our-version;
  border: utils.em(spacing.$xx-small) solid black;
  display: inline-block;
  padding: 	utils.rem(spacing.$small);
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.alert {
  max-width: 66ch;
}
