.CommentBox {
  &__validationMessage {
    clear: left;
    &:before {
      content: "";
      display: inline-block;
      background-color: $colour-caution-our-version;
      width: 0.75rem;
      height: 1.75rem;
      margin-right: 0.75rem;
      position: relative;
      top: 0.5rem
    }
  }
  @include clearfix;
  margin-bottom: rem($spacing-small);
  padding: rem($spacing-small);
  border: rem($spacing-xx-small) solid $colour-border;
  &__title{
    @include font-size(0);
    &--legend {
      // the magic numbers here pull the title in line with the border to make it look a bit like a legend
      position: relative;
      margin-bottom: -0.5rem;
      top: -1.3rem;
      background: $colour-body;
      float: left;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      display: inline-block;
    }
  }
  &__quote {
    font-style: italic;
  }
  &__savedIndicator {
    display: inline-block;
    margin: rem(0 $spacing-small $spacing-small 0);
    padding: rem($spacing-small $spacing-medium);
    background-color: $colour-nice-dark-grey;
    color: $colour-nice-white;
    opacity: 0.5;
    border: 1px solid $colour-nice-white; // todo: find border width!
  }
}
