.CommentBox {
  @include clearfix;
  margin-bottom: rem($spacing-small);
  padding: rem($spacing-small) rem($spacing-small) 0 rem($spacing-small);
  border: rem($spacing-xx-small) solid $colour-border;
  &__title{
    @include font-size(0);
  }
  &__quote {
    font-style: italic;
  }
  &__savedIndicator {
    display: inline-block;
    margin: rem(0 $spacing-small $spacing-small 0);
    padding: rem($spacing-small $spacing-medium);
  }
}
