.CommentBox {
  @include clearfix;
  margin-bottom: rem($spacing-small);
  padding: rem($spacing-small) rem($spacing-small) 0 rem($spacing-small);
  border: rem($spacing-xx-small) solid $colour-border;
  &__title{
    @include font-size(0);
  }
  &__datestamp{
    // border-top: solid 1px $colour-border;
  }
  &__quote {
    font-style: italic;
  }
}




