@use "@nice-digital/nds-core/scss/spacing";
@use "@nice-digital/nds-core/scss/utils";

.organisation-codes {
  &__row {
    display: flex;
    align-items: center;
    padding: utils.rem(spacing.$small);
  }

  &__name, &__generate {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p, button {
      margin: 0;
    }
  }
}

.btn {
  &.btn--copied {
    background-color: #e6faff;
    color: #000;
    padding: 0 utils.rem(spacing.$medium);
    margin-bottom: 0;
    border: none;

    &:focus, &:hover {
      background-color: #e6faff;
      color: #000;
    }
  }
}

.arrow-icon {
  &:after {
    display: inline-block;
    font-family: 'NICE Icons';
    content: '\e03c';
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  [aria-expanded='true'] & {
    &:after {
      content: '\e039';
    }
  }
}
