@use "@nice-digital/nds-core/scss/colours";
@use "../../styles/variables" as *;

.ConsultationItem {
  .tag--open {
    background-color: $ec-green;
  }
  .tag--upcoming {
    background-color: $ec-orange;
  }
  .tag--unsubmitted {
    background-color: $ec-pink;
  }

  .tag--hidden {
    background-color: #666666;
    color: #FFFFFF;
  }

  .card {
    overflow: visible;

    &__heading a {
      &:before {
        display: none;
      }
    }
  }
}
