.ConsultationItem {
  .tag--open {
    @extend .tag--live;
  }
  .tag--upcoming {
    @extend .tag--beta;
  }
  .tag--unsubmitted {
    @extend .tag--alpha;
  }

  .card {
    overflow: visible;

    &__heading a {
      &:before {
        display: none;
      }
    }
  }
}
